html,
body {
  width: 100%;
  height: fit-content;
  background-color: #64dfdf;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}
#root {
  width: 100%;
  height: 100%;
}

.TitleMain {
  color: #1b2432;
  text-align: center;
  font-size: 10vw;
  font-style: italic;
  font-weight: bold;
}

.amimate-load {
  animation: loading-info 2s ease-in infinite;
}

@keyframes loading-info {
  0% {
    filter: brightness(100%);
    color: white;
  }
  50% {
    filter: brightness(160%);
    color: red;
  }
  100% {
    filter: brightness(100%);
    color: white;
  }
}

.App {
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #caf0f8;
  font-size: 1.7em;
  margin: 0 1%;
  margin-top: 2em;
  padding: 10px;
  overflow-y: auto;
}

.modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
}

/* The Close Button */
.close {
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.form {
  position: relative;
  border-radius: 30px;
  left: 25vw;
  background: linear-gradient(180deg, #c1d3fe, #2ace2a);
  background-size: 300%;
  background-position: 50% 100%;
  width: 50%;
  height: 70%;
}

.formTitle {
  font-size: 12.5vw;
}

.modal-item h3 {
  margin: 7px;
}

.modal-item input {
  font-size: 1.1em;
  text-align: center;
  border-radius: 20px;
  height: 40px;
}

/* boton send form */
.ptn {
  color: #fff;
  border-radius: 20px;
  margin: 30px;
  background-color: rgb(70, 230, 70);
  font-size: 30px;

  transition: transform 0.96s;
}

.ptn:hover {
  filter: brightness(130%);
  transform: scale(1.16);
}

.animate {
  background-color: #c1d3fe;
  animation: loading-info 2.7s ease;
}

/* Agenda */
div.content {
  display: grid;
  margin: 0 0.3%;
  grid-gap: 0.5em;
}

.button-add {
  color: #fff;
  font-style: italic;
  font-size: calc(15px + 3vw);
  width: 100%;
  height: 78px;
  border-radius: 10px;
  background-color: #136bc2;
  transition: all 150ms ease-in-out;
}

.button-add:hover {
  filter: brightness(155%);
  box-shadow: 0 0 10px 0 #449bd4 inset;
}

.contact-item:nth-child(even) {
  background-color: #edf2fb;
}

.contact-item * {
  border: 3px solid #c1d3fe;
}

.contact-item td {
  font-size: 3vw;
  padding: 0;
  min-height: 60px;
  height: 70px;
  text-align: center;
}

/* .table-header th {
  width: 33.333%;
} */

.btn-return {
  display: none;
  position: fixed;
  float: right;
  background-color: #223dd1;
  color: #fff;
  padding: 0.21em .3em;
  right: 1.3%;
  bottom: 3%;
  font-size: 2.12vw;
  width: height;
  border: none;
  border-radius: 25%;
  text-align: center;

  content: "^";
}

.btn-return:hover{
  transform: scale(1.5);
  animation: effect-top 2s ease-out infinite;
  -moz-animation: effect-top 2s ease-out infinite;
  -webkit-animation: effect-top 2s ease-out infinite;
}

@keyframes effect-top{
  0% {  transform: translateY(0px) scale(1)}
  50% {  transform: translateY(-17px) scale(1.5) }
  100%{ transform: translateY(0px) scale(1) }
}

/* Small devices (tablets...)*/
@media screen and (max-width: 600px) {
  .modal-item input{
    font-size: 1.1em;
    max-width: 70vw;
    max-height: 18vw;
  }

  .form{
    left: 12.3vw;
    width: calc(90% - 1.4em);
    height: fit-content;
  }

  .TitleMain{
    font-size:12vw;
  }

  .btn-return {
    display: none;
    text-align: center;
    width: 3rem;
    height: 2em;
    font-size: x-large;
    right: 1rem;
}
}

/* Large devices */
@media screen and (min-width: 601px) {
  .modal-item input{
    font-size: 1.1em;
    max-width: 70vw;
    max-height: 18vw;
  }

  .form{
    left: 16vw;
    width: 72%;
    height: fit-content;
  }

  .TitleMain{
    font-size:14vw;
  }

  .formTitle{
    font-size: 2em;
  }

  .btn-return{
    font-size: 2.3rem;
    right: 1.5rem;
    width: 4.7rem;
    height: 1.7em;
  }
  
}